body{
    font-family: "Montserrat";
}
.navbar-brand{
    font-weight: 500;
}
.Home{
    background-color: #f0f5f9;
    padding: 120px 0 80px 0;
}
.card-img-top{
    width: 80px;
}
.reviews-container{
    background-color: #f0f5f9;
    padding: 100px 50px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}